version: "3.8"

services:
  backend:
    build: .
    container_name: new-netflic-backend
    ports:
      - "8888:8888"
    env_file:
      - ./src/.env
    depends_on:
      - redis
    restart: always

  llm:
    build: ./movie-recommender-LLM
    container_name: recommendation-llm
    ports:
      - "8000:8000"

  redis:
    image: redis:7-alpine
    container_name: redis-server
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

volumes:
  redis_data:
